.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 7.5rem;
  padding: 2rem 1rem;
  /* background-color: #f8f9fa; */
  z-index: 1050;
  transition: width 0.3s ease-in-out;
  background-color: #35384b;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
  width: 23.5rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* fix the width of the icons */
.sidebar .nav-link i {
  width: 1rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 1;
}

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

@font-face {
  font-family: "garamond";
  }

.nav-link.active{
  background-color: #0084d6 !important;
  color: #fff !important;
  box-shadow: 0 2px 4px 0 rgba(32, 121, 255, 0.308) !important;
}

.nav-link.active:hover{
  color: #fff !important;
}

.nav-link:hover {
  color:  #0084d6 !important;
}

.image_title {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}

.icon_title {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.home_bg {
  background-color: #35384b;
  border-radius: 2rem;
}

.audienceBreakdown_one {
  background-color: #35384b;
  border-radius: 2rem;
}
.audienceBreakdown_one {
  margin-left: 20rem;
  margin-top: 10rem;
}

.ownerhourlycost_one {
  background-color: #35384b;
  border-radius: 2rem;
}

.ownerhourlycost_one {
  margin-left: 20rem;
  margin-top: 10rem;
}

.generalparameters_one {
  background-color: #35384b;
  border-radius: 2rem;
}

.generalparameters_one {
  margin-left: 20rem;
  margin-top: 10rem;
}
.annualbudget_one {
  background-color: #35384b;
  border-radius: 2rem;
}

.annualbudget_one {
  margin-left: 20rem;
  margin-top: 10rem;
}

.monthlynudget_one {
  background-color: #35384b;
  border-radius: 2rem;
}

.monthlynudget_one {
  margin-left: 20rem;
  margin-top: 10rem;
}

.annualvariable_one {
  background-color: #35384b;
  border-radius: 2rem;
}

.annualvariable_one {
  margin-left: 20rem;
  margin-top: 10rem;
}

.annualfixed_one {
  background-color: #35384b;
  border-radius: 2rem;
}

.annualfixed_one {
  margin-left: 20rem;
  margin-top: 10rem;
}

.Paymentschedule_one {
  background-color: #35384b;
  border-radius: 2rem;
}

.Paymentschedule_one {
  margin-left: 20rem;
  margin-top: 10rem;
}


.about_bg {
  background-color: #35384b;
  border-radius: 2rem;
}

.table_bg {
  background-color: #35384b;
  border-radius: 2rem;
  padding: 10px;
  height: 700px;
}

.home_row {
  margin-left: 20rem;
  margin-top: 10rem;
}

.about_row {
  margin-left: 20rem;
  margin-top: 10rem;
}
.table_row {
  margin-left: 20rem;
  margin-top: 7rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

.first_text_column {
  display: flex;
  flex-direction: column;
}

.gif_column {
  display: flex;
  flex-direction: column;
}
.gif_image {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 400px;
  width: 200%;
}

.gif_row {
  display: flex;
  flex-direction: row;
}


